html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    height: 100%;
    width: 100%;
    line-height: 1;
    background-color: rgb(224, 224, 224);
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Poppins:wght@300&display=swap');

.container{
    position: absolute;
    z-index: 3;
    height: 100vh;
    width: 100vw;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 

}


.base {
    height: 75vh;
    width: 70vw;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 2% solid rgba( 255, 255, 255, 0.18 );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}


.cabecalho {
    height: 5rem;
    width: 5rem;
    background-color: antiquewhite;
    position: absolute;
    z-index: 3;
    left: 10px;
    top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 50%;
    border: 8px solid rgb(220, 187, 187);
    box-shadow: 3px 2px 10px 0.8px rgba(0, 0, 0, 0.2);
}
#logo_empresa {
    width: 4rem;
    filter: drop-shadow(3px 2px 3px rgb(139, 135, 135));
}
#texto_logo {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.titulo {
    height: 5vh;
    width: 50vw;
    margin-top: 3rem;
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
}
#texto_titulo {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: rgb(58, 21, 21);
}
.dados_cliente {
    height: 15vh;
    width: 60vw;
    top: 100em;
    margin-top: 2rem;
    margin-left: 1rem;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
    border-radius: 10px;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );

}

.dados_cliente p {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    font-weight: 100;
}

.pontos {
    height: 15vh;
    width: 60vw;
    top: 100em;
    margin-top: 2rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}
.pontos p {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    font-weight: 100;
}

.topo_esquerdo {
    position: absolute;
    z-index: 1;
    width: 60vw;
    top: 0px;
    left: 0px;
    filter: drop-shadow(5px 3px 5px rgb(171, 169, 169));

}

.efeito-vidro {
    height: 90vh;
    width: 70vw;
    top: -30vh;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 1%;
    border: 1% solid rgba( 255, 255, 255, 0.18 );
  }
  .roda_pe {
    margin-top: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
  }

 .animated {
    width: 30vw;
    margin-top: 1rem;
    border-radius: 10px;
 }

 @media (min-width: 600px) {
    .base {
        width: 490px;
    }
    .dados_cliente {
        width: 390px;
    }
    .pontos {
        width: 390px;
    }
    .animated {
        width: 200px;
    }
    .topo_esquerdo {
        width: 360px;
    }
}